<%= form_for(@integrant) do |f| %>
  <% if @integrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@integrant.errors.count, "error") %> prohibited this integrant from being saved:</h2>

      <ul>
      <% @integrant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <p><strong>Selecione uma das orquestras para relacionar o integrante :</strong></p>  
      <% options = options_from_collection_for_select(@orchestra, 'id', 'name') %>
      <%= f.select :orchestra_id,  options %>
  </div>
  <div class="field">
    <p><strong>Selecione um instrumento para o integrante :</strong></p> 
    <% options = options_from_collection_for_select(@instrument, 'id', 'name') %>
    <%= f.select :instrument_id,  options %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
