<h1>Listing integrants</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Orchestra</th>
      <th>Instrument</th>
    </tr>
  </thead>

  <tbody>
    <% @integrants.each do |integrant| %>
      <tr>
        <td class="um"><%= integrant.nome %></td>
        <td class="dois"><%= @search = Orchestra.find(:all,:conditions => {:id => integrant.orchestra_id})
                if(@search.first!=nil)
                  @search.first.name 
                else
                  @search=''
                end
            %>
        </td>
        <td class="dois"><%= @search = Instrument.find(:all,:conditions => {:id => integrant.instrument_id})
                if(@search.first!=nil)
                  @search.first.name 
                else
                  @search=''
                end
            %>
        </td>
        <td class="botao"><%= button_to 'Show', integrant , :method =>"get",:class=>"button"%></td>
        <%if(@current_user.auth=="admin")%>
          <td class="botao"><%= button_to 'Edit', edit_integrant_path(integrant) , :method =>"get",:class => "button"%></td>
          <td class="botao"><%= button_to 'Destroy', integrant, method: :delete, data: { confirm: 'Are you sure?' },:class => "button" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%if(@current_user.auth=="admin")%>
  
  <%= button_to 'New Integrant', new_integrant_path , :method =>"get",:class => "button"%>
<%end%>
