<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @integrant.nome %>
</p>

<p>
  <strong>Orchestra:</strong>
  <%= 	@search = Orchestra.find(:all,:conditions => {:id => @integrant.orchestra_id})
  		if(@search.first!=nil)
            @search.first.name
        else
        	@search=''
        end
    %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= 	@search = Instrument.find(:all,:conditions => {:id => @integrant.instrument_id})
  		if(@search.first!=nil)
            @search.first.name
        else
        	@search=''
        end
    %>
</p>


<%= button_to 'Edit', edit_integrant_path(@integrant), :method =>"get" %> |
<%= button_to 'Back', integrants_path, :method =>"get" %>
