<h1>Listing conductors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Orquestra</th>
    </tr>
  </thead>

  <tbody>
    <% @conductors.each do |conductor| %>
      <tr>
        <td><%= conductor.name %></td>
        <td><%= conductor.age %></td>
        <td><%= @search = Orchestra.find(:all,:conditions => {:conductor_id => conductor.id})
                if(@search.first!=nil)
                  @search.first.name 
                else
                  @search=''
                end
            %>
        </td>
        <td><%= button_to 'Show', integrant, :method =>"get" %></td>
        <%if(@current_user.auth=="admin")%>
          <td><%= button_to 'Edit', edit_integrant_path(integrant), :method =>"get" %></td>
          <td><%= button_to 'Destroy', integrant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if(@current_user.auth=="admin")%>
  <%= button_to 'New Conductor', new_conductor_path, :method =>"get" %>
<%end%>
