

<%= form_for(@orchestra) do |f| %>
  <% if @orchestra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orchestra.errors.count, "error") %> prohibited this orchestra from being saved:</h2>

      <ul>
      <% @orchestra.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <p><strong>Selecione um dos maestros para relacionar com a Orquestra</strong></p>
    <% options = options_from_collection_for_select(@conductor, 'id', 'name') %>
    <%= f.select :conductor_id,  options %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
