<!DOCTYPE html>  
<html>  
<head>  
  <title>Orchestras</title>  
   <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>  
<body>
  <div class="menuColor">
    <nav>
      <ul class="menu"> 
        
        <% if current_user %>  
          
         
          <li class="options">
            <li >
              <%= link_to "Orchestras", :orchestras %>
            </li>
            <li class="nota">
              <%= image_tag 'nota1.png', size: '35', alt: 'nota1' %>
            </li>
          </li>
          <li class="options">
            <li>
              <%= link_to "Conductors", :conductors %> 
            </li>
            <li class="nota">
              <%= image_tag 'nota2.png', size: '35', alt: 'nota2' %>
            </li>
          </li>
          <li class="options">
            <li>
              <%= link_to "Instruments", :instruments %> 
            </li>
            <li class="nota">
              <%= image_tag 'nota3.png', size: '35', alt: 'nota3' %>
            </li>
          </li>
          <li class="options">
            <li>
              <%= link_to "Integrants", :integrants %> 
            </li>
            <li class="nota">
              <%= image_tag 'nota4.png', size: '35', alt: 'nota4' %>
            </li>
          </li>
          <% if current_user.auth == "admin" %>
            <li class="options">
              <li>
                <%= link_to "Users", :users %>
              </li>
              <li class="nota">
                <%= image_tag 'nota5.png', size: '35', alt: 'nota5' %>
              </li>
            </li>
          <% end %>
          
           <li class="options">
            <li>
              <%= link_to "Log out", log_out_path %> </li>
            </li>
            <li class="nota">
              <%= image_tag 'logout.png', size: '35', alt: 'nota6' %>
            </li>
           <li class="user"> Logged in as <%= current_user.email %></li>
        <% else %>  
          <li><%= link_to "Sign up", sign_up_path %></li>   
          <li><%= link_to "Log in", log_in_path %>  </li>
        <% end %>  
      </ul>
    </nav>
</div>
  <% flash.each do |name, msg| %>  
    <%= content_tag :div, msg, :id => "flash#{name}" %>  
  <% end %>
</br>
<div class="page">
  <div class="outside">
    <div class="content">
      <article class="inside">
        <%= yield %>  
      </article>
    </div>
  </div>
</div>
  
</body>  
</html> 